---
import "../../styles/global.css";
import { App } from "../../App";

// Obtener el token desde las cookies
const token = Astro.cookies.get("token")?.value;
if (!token) return Astro.redirect("/login");

// Obtener el ID del producto de los parámetros
const { id } = Astro.params;

// Precargar datos del producto
let product = {};
try {
  const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/product/${id}`, {
    headers: { "Authorization": `Bearer ${token}` },
  });
  if (response.ok) {
    product = await response.json();
  }
} catch (error) {
  console.error(error);
}


---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Detalle de Producto - E-Commerce</title>
  </head>
  <body>
    <App page="product" id={id} client:only="react" />
  </body>
</html>
